---
import AppLayout from "@/layouts/App-Layout.astro"
---

<AppLayout title="Compendium Home">
	<main>
	<h1>Compendium</h1>
    <h2>Testing</h2>
    <h3>This should animate out on the page transition.</h3>
    <p>This is a test paragraph to make sure that Astro transitions are working. When I click to the other page. This paragraph should animate out of view and 3 lengthier paragraphs should take its place. I'm curoious to know what the default animation looks like.</p>
    <a href="standard-actions.astro">View Standard Actions</a>	
</main>
	
</Layout>