---
import AppLayout from "@/layouts/App-Layout.astro"
---

<AppLayout title="Compendium Home">
	<main>
	<h1>Compendium</h1>
    <h2>Testing</h2>
    <h3>This should animate out on the page transition.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Neque ornare aenean euismod elementum nisi quis. Senectus et netus et malesuada fames ac turpis. Vitae congue eu consequat ac felis donec et. Semper feugiat nibh sed pulvinar. </p>
    <p> Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Nunc vel risus commodo viverra. Sit amet risus nullam eget felis eget nunc lobortis. Quisque sagittis purus sit amet. Consequat id porta nibh venenatis cras. Tortor posuere ac ut consequat semper viverra nam libero justo. Eget lorem dolor sed viverra ipsum. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Volutpat ac tincidunt vitae semper quis. Justo laoreet sit amet cursus sit. A erat nam at lectus urna duis. At ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis.</p>
    <p>In ornare quam viverra orci sagittis eu volutpat odio. Massa placerat duis ultricies lacus sed. Varius quam quisque id diam. Id interdum velit laoreet id. Sodales ut eu sem integer vitae justo eget. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Sed enim ut sem viverra aliquet eget. Tortor aliquam nulla facilisi cras fermentum odio. Quis ipsum suspendisse ultrices gravida dictum fusce ut. Id faucibus nisl tincidunt eget. Eu lobortis elementum nibh tellus molestie nunc non. Mi ipsum faucibus vitae aliquet. Libero id faucibus nisl tincidunt eget nullam non nisi. Vivamus at augue eget arcu dictum varius duis at consectetur. A lacus vestibulum sed arcu non odio. A erat nam at lectus urna duis.</p>
    <a href="compendium-home.astro">View Compendium</a>
	</main>
	
</Layout>