---

import Layout from '../layouts/Base-Layout.astro'
import CardStack from '@/components/CardStack.astro'
import HeroImage from "@/components/HeroImage.astro"
---

<Layout title="Hello World">
	<main>
	<HeroImage img="Beacon-Companion-Hero-1800x800.jpg" />
	<CardStack />
	<img src="" alt="">
	</main>
	
</Layout>