---

import Layout from '../layouts/Base-Layout.astro'
import TextGenerate from '@/components/TextGenerate.astro'
import CardStack from '@/components/CardStack.astro'
---

<Layout title="Hello World">
	<main>
		<h1>Testing</h1>
	<TextGenerate />
	<CardStack />
	</main>
	
</Layout>