---
interface Props {
    title: string;
}

const { title, description = "A companion app for Beacon TTRPG", 
image = "https://placehold.co/400" } = Astro.props;
---

<html class="dark" lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
        <meta property="og:image" content={image} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-black">
		<slot />
	</body>
</html>